name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install tooling
        uses: CompeyDev/setup-rokit@v0.1.2
        with:
          cache: true

      - name: Check formatting
        run: stylua -c -v .

  lint:
    needs: ["fmt"]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        
      - name: Install tooling
        uses: CompeyDev/setup-rokit@v0.1.2
        with:
          cache: true
          
      - name: Install dependencies
        run: wally install
        
      - name: Setup lune typedefs
        run: lune setup

      - name: Analyze
        run: luau-lsp analyze --ignore="Packages/**" --settings=".vscode/settings.json" lib/ examples/ mod.luau

      - name: lint
        run: selene .
