name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup pesde
        uses: lumin-org/setup-pesde@v0.4.1

      - name: Install dependencies
        run: pesde install --locked

      - name: Check formatting
        run: lune run fmt --check

  lint:
    needs: ["fmt"]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        
      - name: Setup pesde
        uses: lumin-org/setup-pesde@v0.4.1

      - name: Install dependencies
        run: pesde install --locked

      - name: Setup lune typedefs
        run: lune setup

      - name: Analyze
        run: lune run typecheck 

      - name: Lint
        run: lune run lint

